.languagePicker {
    word-break: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
    margin-bottom: 0.3125rem;
    cursor: pointer;
    width: fit-content;
}

.languagePickerIcon {
    margin-bottom: 0.15625rem;
    margin-left: 0.125rem;
}
