# Local development requirements using .whl file for msgraph-sdk
azure-identity
quart
quart-cors
openai>=2.6.1
tiktoken
tenacity
azure-ai-documentintelligence==1.0.2
azure-cognitiveservices-speech
azure-cosmos
azure-search-documents==11.7.0b2
azure-storage-blob
azure-storage-file-datalake
uvicorn
aiohttp
azure-monitor-opentelemetry
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-openai
msal
cryptography
PyJWT
Pillow
types-Pillow
pypdf
PyMuPDF
beautifulsoup4
types-beautifulsoup4
msgraph-sdk
python-dotenv
prompty
rich
typing-extensions
docling==2.61.1
pyodbc

# Development dependencies
ruff
black
pytest
pytest-asyncio
pytest-snapshot
coverage
playwright
pytest-cov
pytest-playwright
pytest-snapshot
pre-commit
pip-tools
mypy==1.14.1
diff_cover
axe-playwright-python
